<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Add custom styles for the navigation bar and search bar */
    .navbar {
      background-color: #17a5ba67;
      color: #070707;
      padding: 30px;
    }
    .navbar a {
      color: #060606;
    }
    .navbar .navbar-right {
      float: right;
      padding-right: 20px;
    }
    .search-container {
      float: right;
      margin-right: 10px;
    }
    .search-container input[type="text"] {
      padding: 6px;
      border: none;
      width: 200px;
    }
    .search-container button {
      padding: 6px 10px;
      background: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    /* Add custom styles for the main content */
    .main-content {
      padding: 20px;
      text-align: center;
    }
  </style>
  <style>
    .left-aligned-text {
      text-align: left;
    }
  </style>
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4><a class="navbar-brand" href="#">Restaurant</a></h4>
      </div>
      <h4>
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="/product">Products</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </h4>
    </div>
  </nav>

  <style>
    .product-card {
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 20px;
    }
      .product-card {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
      }
      .product-details  {
        font-weight: bold;
        color: #0b0c0c;
      }
    </style>
    
    <div class="container text-center">
      <div class="row">
        <% for(var i=0; i < products.length; i++) { %>
          <div class="col-md-12 mx-auto">
            <div class="product-card">
              <style>
                .product-image {
                  width: 300px;
                  height: 300px;
                }
              </style>
              <img class="product-image" src="<%= '/images/imageDB/' + products[i].Image %>" alt="product image">
              <div class="product-details">
                <h4><%= products[i].ProductName %></h4>
                <p>สินค้าที่สั่งซื้อ: <%= products[i].ProductPrice %> THB</p>
                <p>ชื่อลูกค้า: <%= products[i].CustomerName %></p>
                <p>ที่อยู่ลูกค้า: <%= products[i].Address %></p>
                <p>จำนวน: <%= products[i].Quantity %></p>
                <p>ราคารวม: <%= products[i].TotalPrice %> THB</p>
                <form action="/payment" >
                  <input type="hidden" name="order_ID" value="<%= products[i].OrderID %>">
                  <button type="submit" class="btn btn-success">ชำระเงิน</button>
                </form>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
